doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/memore_c.js')
  body
    a(href='#{view_prefix}') top
    block content