extends layout

block content
  div#sidebar_div.span3.well
    ul#sidebar.nav.nav-list
      li.nav-header header
      li.divider
    ul#sidebar.nav.nav-list
      li.divider
      li.nav-header
        a#pukiwikinize pukiwiki
      li.divider

  div#main_div.offset3.span12
    div#breadcrumb
      ul.breadcrumb
        li
          a#toggle_toc.btn.btn-link(href="javascript:toggle_toc();")
            i#toggle_toc_icon.icon-step-backward
        for i in breadcrumbs
          if i.link === null
            - if(i.is_dir === true){ i.name += ' /'}
            li.active= i.name
          else
            li
              a(href=i.link)= i.name
              span.divider /

    div#wiki_contents
      |!{wiki_contents}
